<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="page" color="background">
  <div id="container">
    <h1 id="title">WELCOME</h1>
    <div class="input">
      <ion-input placeholder="Username"></ion-input>
    </div>
    <div class="input">
      <ion-input type="Password" placeholder="Password"></ion-input>
    </div>
    <div class="btnContainer">
      <ion-button class="button" size="large" (click)="onLogin()">Login</ion-button>
    </div>
  </div>
</ion-content>
