<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      <div id="userHeader">
        <img id="imageBackground" src="../assets/bgImage.jpg"/>
        <ion-avatar id="avatar">
          <img  src="../assets/img_avatar.png"/>
        </ion-avatar>
        <p id="email">emailexample@gmail.com</p>
      </div>
      <div id="menuButtons">
        <ion-card class="ionCard">
          <ion-card-content style="display: inline-flex;">
            <img class="iconOption" src="../assets/home_icon.png"/>
            <p style="margin:auto; margin-left: 28px; color:#DE8E1F">Home</p>
          </ion-card-content>
        </ion-card>
        <ion-card class="ionCard" (click)="onUsersClick()">
          <ion-card-content style="display: inline-flex;">
            <img class="iconOption" src="../assets/user_icon.png"/>
            <p style="margin:auto; margin-left: 28px;">Users</p>
          </ion-card-content>
        </ion-card> 
        <ion-card class="ionCard" (click)="onLogout()">
          <ion-card-content style="display: inline-flex;">
            <img class="iconOption" src="../assets/logout.png"/>
            <p style="margin:auto; margin-left: 28px;">Log out</p>
          </ion-card-content>
        </ion-card>  
      </div>
      
    </ion-content>
    
  </ion-menu>
  <div class="ion-page" id="main">
    <ion-content class="ion-padding" color="background">
      
    </ion-content>
  </div>
</ion-content>
