<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <div id="content">
    <ion-card *ngIf="data" style="margin-inline: 40px;">
      
        <ion-avatar id="avatar">
          <img [src]="data.user.avatarRoute"/>
        </ion-avatar>
      
      <ion-card-content>
        <h1 style="font-size: 30px; margin-bottom: 20px;">{{data.user.name}}</h1>
        <h2>Age: {{data.user.age}}</h2>
        <h2>Country: {{data.user.country}}</h2>
        <h2>Followers: {{data.user.followers}}</h2>
        <h2>Posts: {{data.user.posts}}</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
